@tailwind base;
@tailwind components;
@tailwind utilities;

.form-select{
    border: none;
    border-radius:3px;
    appearance: none;
    padding: 0 30px 0 15px;
    width: 142px;
    color: white;
    background-color: #363f4f;
    font-size: 20px;
    outline: none;
}